*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Work Sans';
	color: white;
}

a{
	text-decoration: none;
	color: white;
}


.banner {
	z-index: 1;
	background-size: 400% 400%;
	width: 100%;
	height: 100vh;
	background: linear-gradient(rgb(32, 37, 50),black);
}

.banner-img img{
    max-width: 100%;
}

.navbar{
	border-bottom: 1px solid gray;
	position: absolute;
	background-color: rgb(32, 37, 50);
}

.banner-text {
    display: flex;
    align-items: center; 
    justify-content: center;
    height: calc(100vh - 80px);
}
.banner-head{
    font-size: 3rem;
    font-weight: bold;
}
.sub-text{
	font-size: 20px;
	color: rgb(150, 142, 142);
}


.animated-text {
	font-size: larger;
	-webkit-text-stroke: #23d5ab;
	text-transform: capitalize;
	font-family: 'IBM Plex Mono';
	background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 300%;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: TeXt 5s ease-in-out infinite;
	text-align: center;
	line-height: 0.9;
}

@keyframes TeXt{
  0%{
	background-position: 0 50%;
  }
  50%{
	background-position: 100% 50%;
  }
  100%{
	background-position: 0 50%;
  }
}
.col-4{
	max-width: 300px;
	margin: 10px;
}

.review{
	background-color: #14171C;
	border: 1px solid #25272C;
	border-radius: 20px;
	padding: 20px;
}

.review-img{
	width: 30px;
	margin-top:15px;
}


.list-unstyled li{
	padding-top: 10px;
	text-decoration: none;
	color: grey;
}
.list-unstyled li:nth-child(1){
	padding-top: 20px;
	text-decoration: none;
	color: grey;
}

.list-unstyled li a{
	text-decoration: none;
	color: grey;
}

.tab-content .tab-pane {
	display: none;
  }
.tab-content .tab-pane.active {
	display: block;
}

